<%= render 'shared/title', title: 'Edit Post' %> 

<!-- render呼叫_form.html.erb， -->
<%= render 'form' %>

<!-- <div id="footer" class="wrapper style2">
      <div class="container">
        <section>
          <header class="major">
            <h2>ANY STONEAGE INFORMATION WANT TO SAY？</h2>
            <span class="byline">COME ON！SHARE EVERYONE RIGHT NOW</span>
          </header>

          <form method="post" action="#">
            <div class="row half">

              <div class="12u">
                <input class="text" type="text" name="name" id="name" placeholder="Title" />
              </div>
            </div>
            <div class="row half">

              <div class="12u">
                <textarea name="message" id="message" placeholder="Message">
                </textarea>
              </div>
            </div>
            
            <div class="row half">
              <div class="12u">
                <ul class="actions">
                  <li>
                    <input type="submit" value="Post" class="button alt" />
                  </li>
                </ul>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div> -->