<%#= render 'index', post: @post %>

<!-- Post Table Here -->
    <!-- cteate front judgement -->

    <div id="footer" class="wrapper style2">
      <div class="container">
        <section>
          <header class="major">
            <h2>Any StoneAge Information want to say？</h2>
            <span class="byline">Come on！Share everyone right now</span>
          </header>

          <%= form_for(@post) do |f| %>
          <!-- <form method="post" action="#"> -->
            <div class="row half">
              <div class="12u">
              <%= f.text_field :title %>
                <!-- <input class="text" type="text" name="name" id="name" placeholder="Title" /> -->
              </div>
            </div>

            <div class="row half">
              <div class="12u">
                <%= f.text_area :content %>
                <!-- <textarea name="message" id="message" placeholder="Message">
                </textarea> -->
              </div>
            </div>

            <div class="row half">
              <div class="12u">
                <ul class="actions">
                  <li>
                    <%= f.submit %>
                    <!-- <input type="submit" value="Post" class="button alt" /> -->
                  </li>
                </ul>
              </div>
            </div>
          <!-- </form> -->
          <% end %>

        </section>
      </div>
    </div>